/* Fonts */

/* Archivo Black */
@font-face {
    font-family: 'Archivo Black';
    src: local('Archivo Black'),
        url('../assets/fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Intro Rust';
    src: local('Intro Rust'),
        url('../assets/fonts/IntroRust.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Work Sans */
@font-face {
    font-family: 'Work Sans', sans-serif;
    src: local('Work Sans'),
        url('../assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans', sans-serif;
    src: url('../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4 {
    font-family: 'Intro Rust';
    color: #353f50;
}

h1 {
    font-size: 2rem;
}

p {
    line-height: 1.6rem;
    font-size: 1rem;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    background-color: #EEDFFE;
}


/* Desktop adjustment */
@media (min-width: 64em) {
    .page-container {
        align-items: flex-start;
        /* Align content to the left overall */
        padding-left: 7rem;
        /* Adjust based on logo width */
        padding-right: 2rem;
        padding-bottom: 4rem; 
    }

    h1 {
        font-size: 5rem;
    }

    

}